    .spot {
      position: relative;
      display: block;
      width: 100%;
      overflow: hidden;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .spot img {
      width: 100%;
      display: block;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(238, 236, 236);
      font-size: 1.5rem;
      background: rgba(0, 0, 0, 0.6);
    }

    .overlay:hover {
      background: rgba(0, 0, 0, 0.7);
    }

    @media (max-width: 640px) {

    .spot {
        display: none !important;
    }
  }
