    <!-- CATEGORY OPTIONS Section -->
    <div class="item-container">
      <div class="container-items">
          <!-- Each category displayed as a clickable item -->
          <div>
              <a href="#" class="item-link">
              <img src="images/item1.jpg" alt="">
                  <div class="item-content">
                      <p>Parfymer & Accessoarer</p>
                  </div>
              </a>
          </div>
          <div>
              <a href="#" class="item-link">
              <img src="images/item2.jpg" alt="">
                  <div class="item-content">
                      <p>Mode för Henne</p>
                  </div>
              </a>
          </div>
          <div>
              <a href="#" class="item-link">
              <img src="images/item3.jpg" alt="">
                  <div class="item-content">
                      <p>Mode för Honom</p>
                  </div>
              </a>
          </div>
      </div>
  </div>
