<div class="site-information">
  <div class="information-container">
      <!-- Information about shipping, payment security, and news -->
      <div>
          <img src="images/svg/earth-12-svgrepo-com.svg" alt="">
          <p>Gratis frakt & returer</p>
      </div>
      <div>
          <img src="images/svg/airplane-svgrepo-com.svg" alt="">
          <p>Expressfrakt</p>
      </div>
      <div>
          <img src="images/svg/shield-check-svgrepo-com.svg" alt="">
          <p>Säkra betalningar</p>
      </div>
      <div>
          <img src="images/svg/happy-face-svgrepo-com.svg" alt="">
          <p>Nyheter varje dag</p>
      </div>
  </div>
</div>
