<!-- Footer links for shopping, user accounts, and customer support -->
<footer class="footer">
<div class="footer-container">
  <div class="footer-left"> <!-- New wrapper for left-aligned sections -->
      <div class="footer-section shopping">
          <h3>Shopping</h3>
          <a href="#">Vinterjackor</a>
          <a href="#">Pufferjackor</a>
          <a href="#">Kappa</a>
          <a href="#">Trenchcoats</a>
      </div>
      <div class="footer-section my-pages">
          <h3>Mina Sidor</h3>
          <a href="#">Mina Ordrar</a>
          <a href="#">Mitt Konto</a>
      </div>
      <div class="footer-section contact">
          <h3>Kundtjänst</h3>
          <a href="#">Returnpolicy</a>
          <a href="#">Integritetspolicy</a>
      </div>
  </div>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading0">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                      Shopping
                  </a>
              </h4>
          </div>
          <div id="collapse0" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading0">
              <div>
                  <div>
                      <a href="#">Vinterjackor</a>
                  </div>
                  <div>
                      <a href="#">Pufferjackor</a>
                  </div>
                  <div>
                      <a href="#">Kappa</a>
                  </div>
                  <div>
                      <a href="#">Trenchcoats</a>
                  </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading1">
              <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                      Mina Sidor
                  </a>
              </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
              <div>
                  <a href="#">Mina Ordrar</a>
              </div>
              <div>
                  <a href="#">Mitt Konto</a>
              </div>
          </div>
      </div>

      <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading2">
              <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                      Kundtjänst
                  </a>
              </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
              <div>
                  <a href="#">Returnpolicy</a>
              </div>
              <div>
                  <a href="#">Integritetspolicy</a>
              </div>
          </div>
      </div>
      </div>

  <div class="footer-section copyright">
      <p>&copy; 2024 FreakyFashion.com - All rights reserved.</p>
  </div>
</footer>
